@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html {
  /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  background-color: red;*/
  font-family: Inter;
}

/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/


img {
  border: 1em ridge #bfbfbf;
  padding: 2.5em;
  margin: 2.5em;
  border-radius: 1em;
}

img:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 1s;
}